#app .txt {
    width: 1440px;
    position: fixed;
    top: 68px;
    left: 12vw;
    z-index: -1;
}

#app .txt h1 {
    height: 328px;
    position: relative;
    font-size: 156px;
    font-weight: 700;
    line-height: 140px;
    letter-spacing: -0.01em;
}

#app .txt video {
    position: absolute;
    left: -17px;
    bottom: 0;
    width: 800px;
    height: auto;
}

#app .info {
    margin-top: 48px;
    display: flex;
    flex-flow: column;
    row-gap: 18px;
    padding-left: 12px;
}

#app .info .box {
    display: flex;
    flex-flow: column;
}

#app .info .box strong {
    font-weight: 800;
}

#app .info .box span {
    font-weight: 300;
}

#app .contents {
    padding-top: 80px;
}

#app .contents ul {
    width: 1440px;
    position: relative;
    left: 12vw;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#app .contents li {
    width: 280px;
    height: auto;
    position: relative;
    transform: translateY(160px);
    transition: .5s cubic-bezier(0.06, 0.15, 0.2, 0.93);
}

#app .contents li[data-scroll="in"] {
    transform: translateY(0);
    opacity: 1;
}

#app .contents li a {
    display: flex;
    align-items: flex-start;
    transition: transform .3s
}

@media (hover: hover) {
    #app .contents li a:hover {
        transform: scale(0.95);
    }
}

#app .contents li:nth-child(1) {
    margin-top: 540px;
    transition-delay: .1s
}

#app .contents li:nth-child(5n+6) {
    transition-delay: .1s
}

#app .contents li:nth-child(2) {
    margin-top: 400px;
    transition-delay: .05s;
}

#app .contents li:nth-child(5n+7) {
    margin-top: -140px;
    transition-delay: .05s;
}

#app .contents li:nth-child(3) {
    margin-top: 540px;
    transition-delay: .2s;
}

#app .contents li:nth-child(5n+8) {
    transition-delay: .2s;
}

#app .contents li:nth-child(4) {
    margin-top: 240px;
    transition-delay: .15s
}

#app .contents li:nth-child(5n+9) {
    margin-top: -300px;
    transition-delay: .15s
}

#app .contents li:nth-child(5) {
    margin-top: 0;
    transition-delay: .1s
}

#app .contents li:nth-child(5n+10) {
    margin-top: -540px;
    transition-delay: .1s
}


@media (max-width:1648px) {
    #app .txt {
        width: 1140px;
        left: 4vw;
    }

    #app .txt h1 {
        height: 276px;
        font-size: 120px;
    }

    #app .txt video {
        width: 640px;
    }

    #app .contents ul {
        width: 1140px;
        left: 4vw;
    }

    #app .contents li {
        width: 220px;
    }
}